/* Eric Meyer's Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    width: 100%;
  height: 100%;
  font-family: sans-serif; 
}

.authorize-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.authorize-modal {
  position: absolute;
  top: calc( 50vh - 125px);
  left: calc( 50vw - 200px);
  z-index: 99;
  width: 420px;
  height: 250px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: #b1b1b1; }
  .authorize-modal .fi-social-twitter {
    color: #03A9F4;
    font-size: 50px;
    text-align: center;
    padding: 18px 20px 0px 20px; }
  .authorize-modal h1 {
    font-size: 32px;
    text-align: center;
    padding: 72px 20px 0px 20px;
    color: #03A9F4; }
  .authorize-modal p {
    padding: 20px;
    line-height: 20px;
    text-align: center; }
  .authorize-modal button {
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background: transparent;
    width: calc( 100% / 4);
    text-align: center;
    left: calc( 50%  - (25%/2));
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    color: #b1b1b1;
    transition: color 0.3s ease,background 0.3s ease;
    outline: none; }
    .authorize-modal button:hover {
      background: #fff;
      color: #000; }
