@import "./mixins.scss";
@import "./colors.scss";

html{
    background: $black80;
}

#root {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.potential-problem {
    position: absolute;
    text-align: center;
    display: block;
    padding: 7px 20px;
    // border-bottom: 1px solid #424242;
    color: $red;
    font-size: 22px;
    height: 36px;
    line-height: 36px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;
    pointer-events: none;
    &.visible {
        opacity: 1;
        pointer-events: initial;
    }
}

.back-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 10px;
    z-index: 3;
    text-align: center;
    // border-right: 1px solid $white;
    // border-bottom: 1px solid $white;
    cursor: pointer;
}
.fi-arrow-left {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: $white;
    transition: color 0.3s ease;
    // top: 5px;
    position: relative;
    padding-top: 5px;
    box-sizing: border-box;
    &:hover {
        color: $darkestwhite;
    }
}

.header-row {
    text-align: center;
    display: block;
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid #424242;
    color: $lightBlue300;
    font-size: 22px;
    height: 36px;
    line-height: 36px;

    div {
        display: inline;
        // color: $lightBlue300;
    }
    .fi-social-twitter {
        padding-right: 10px;
        font-size: 24px;
    }
    span {
        font-size: 10px;
        padding-left: 5px;
        vertical-align: top;
    }
}

.nagivation{
    height: calc( 100% - 51px); 
    // height: 100%;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    width: 60px;
    border-right: 1px solid #424242;
    z-index: 3;
    
    // top: 51px;
    .navigation-item  {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #aaa;
        transition: color 0.3s ease;

        &.active {
            // background: $gray28;
            color: $white;
        }
    }   
    .icon-contain {
        top: 11px;
        // top: 20px;
        position: relative;
        // height: 20px;
        // padding: 2px;
        font-size: 32px;
        box-sizing: border-box;
    }
}

.app-contain {
    position: relative;
    left: 60px;
    width: calc( 100% - 60px);
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc( 100vh - 51px );
}


@include keyframes(rotateLoader) {
    0% { transform: rotate(-45deg); }
    100% { transform: rotate(315deg); }
}
@include keyframes(animateLoaderInner) {
    0% {
    //     -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
    //             clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    40% {
        // -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
        //         clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    // 40% { 
    //     // -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 25%, 50% 50%);
    //     //         clip-path: polygon(50% 0%, 100% 0%, 100% 25%, 50% 50%);
    //         -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    //             clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    // }
    60% { 
        // -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 25%, 50% 50%);
        //         clip-path: polygon(50% 0%, 100% 0%, 100% 25%, 50% 50%);
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    }
    80% {
        // -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
        //         clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    100% {
        // -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
        //         clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 50%);
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
}
@include keyframes(animateLoaderEdge) {
    0% {
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    40% {
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    // 40% { 

    // }
    60% { 
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    }
    80% {
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
    100% {
            -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
                clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    }
}

.dataLoader {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-animation: rotateLoader linear infinite;
    animation: rotateLoader linear infinite;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-right: -30px;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: animateLoaderInner linear infinite;
        animation: animateLoaderInner linear infinite;
        -webkit-animation-duration: 4.8s;
        animation-duration: 4.8s;
        content: '';
        border-radius: 50%;
        -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%);
        clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%);
        background:none;
    }

    &::after {
        box-shadow: inset 0 0 1px 2px #fff;
    }

    &.inactive {
        display: none;
        -webkit-animation: none;
        animation: none;
    }   
}    
@supports (-ms-ime-align:auto) {
    .dataLoader {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-animation: rotateLoader linear infinite;
        animation: rotateLoader linear infinite;
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-right: -30px;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;

            content: '';

            width: 60px;
            height: 60px;
            border-right: 3px solid white;
            border-top: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-radius:50%;
        }

        &::after {
            box-shadow:none;
        }

        &.inactive {
            display: none;
            -webkit-animation: none;
            animation: none;
        }   
    }
}

.compose-tweet {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #aaa;
    transition: color 0.3s ease;
    z-index: 2;
    border-left: 1px solid $gray28;
    &:hover {
        color: $white;
    }
    .fi-pencil {
        width: 100%;
        height: 100%;
        font-size: 32px;
        top: 8px;
        // top: 20px;
        position: relative;
        // height: 20px;
        // padding: 2px;
        font-size: 32px;
        box-sizing: border-box;
    }
}

.app-views-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .app-view {
        display: block;
        height: calc( 100% - 30px );
        left: -100%;
        width: 100%;
        position: absolute;
        transition: left 0.3s ease;
        &.active {
            left: 0;
        }
    }
}


.twitter-login {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: $black60;
    pointer-events: none;
    transition: all 0.3s ease;
    @include iconFlexCenter();
    // pointer-events: none;
    z-index: 12;
    -ms-transform:scale(0.5,0.5);
    -webkit-transform:scale(0.5,0.5);
    transform:scale(0.5,0.5);

    &.active {
        opacity: 1;
        -ms-transform:scale(1,1);
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
        // opacity: 0.6;
        // pointer-events:initial;
    }

    span {
        font-family:$font-abel-bold;
        color: $white;
        font-size: 24px;
    }
    p {
        margin-top: 5px;
    }

    &.active {
        opacity: 1;
        pointer-events:initial;
    }
    div {
        text-align: center;
    }
    button {
        margin: 20px auto;
    }

    .popupMessage {
        display: block;
        opacity: 1;
        transition: opacity 0.3s ease;
        
        &.hidden {
            opacity: 0;
        }
    }
}
