
@import "./colors.scss";

.authorize-contain {
    // display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    &.visible {
        // display: block;
        pointer-events:initial;
        opacity: 1;
    }
}

.authorize-background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: $black80;
	z-index: 98;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.authorize-modal {
	position: absolute;
    top:  calc( 50vh - 125px );
    left: calc( 50vw - 200px );
    z-index: 99;
    min-width: 320px;
    width: 50%;
    max-width: 420px;
    min-height: 250px;
    height: auto;

    background: $black80;
    border-radius: 15px;
    color: $darkestwhite;
    
    .fi-social-twitter {
    	color: $lightBlue;
    	font-size: 50px;
    	text-align: center;
    	padding: 18px 20px 0px 20px;
    }
    h1 {
    	font-size: 32px;
    	text-align: center;
	    padding: 8px 20px 0px 20px;
	    color: $lightBlue;
    }

    button {
        margin-bottom: 30px;
    }

    p {
    	padding: 20px;
    	line-height: 20px;
    	text-align: center;
    }
}
.authorize-popupblocked{
    text-align: center;
    margin-top: 22px;
    position: absolute;
    width: 100%;
    
    a {
        font-size: 14px;
        border-bottom: 1px solid $white;
        color: $white;
        text-decoration: none;    
        transition: color 0.3s ease,border 0.3s ease;
        &:hover {
            border-bottom: 1px solid $darkestwhite;
            color: $darkestwhite;
        }
    }
}