.authorize-contain {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease; }
  .authorize-contain.visible {
    pointer-events: initial;
    opacity: 1; }

.authorize-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #333333;
  z-index: 98;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.authorize-modal {
  position: absolute;
  top: calc( 50vh - 125px);
  left: calc( 50vw - 200px);
  z-index: 99;
  min-width: 320px;
  width: 50%;
  max-width: 420px;
  min-height: 250px;
  height: auto;
  background: #333333;
  border-radius: 15px;
  color: #b1b1b1; }
  .authorize-modal .fi-social-twitter {
    color: #03A9F4;
    font-size: 50px;
    text-align: center;
    padding: 18px 20px 0px 20px; }
  .authorize-modal h1 {
    font-size: 32px;
    text-align: center;
    padding: 8px 20px 0px 20px;
    color: #03A9F4; }
  .authorize-modal button {
    margin-bottom: 30px; }
  .authorize-modal p {
    padding: 20px;
    line-height: 20px;
    text-align: center; }

.authorize-popupblocked {
  text-align: center;
  margin-top: 22px;
  position: absolute;
  width: 100%; }
  .authorize-popupblocked a {
    font-size: 14px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease,border 0.3s ease; }
    .authorize-popupblocked a:hover {
      border-bottom: 1px solid #b1b1b1;
      color: #b1b1b1; }
