@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.messages-contain {
  width: 100%;
  height: calc( 100% - 30px);
  color: #fff;
  position: absolute;
  top: 0px;
  transform: translate(0%, 0px);
  transition: all,0.3s ease; }
  .messages-contain.inactive {
    transform: translate(100%, 0px); }

.messages-list-contain {
  width: 100%;
  height: calc( 100% - 30px);
  color: #fff;
  position: absolute;
  top: 0px;
  transform: translate(0%, 0px);
  transition: all,0.3s ease; }
  .messages-list-contain.inactive {
    transform: translate(-100%, 0px); }
  .messages-list-contain .fi-arrow-right {
    position: absolute;
    right: 0px;
    font-size: 20px;
    top: calc( 50% / 2);
    text-align: center;
    width: 30px;
    padding-top: 4px;
    box-sizing: border-box;
    color: #424242; }

.user-message {
  -webkit-animation: animateTweet ease;
  animation: animateTweet ease;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  transform: translateZ(0);
  position: relative;
  background: transparent;
  transition: background 0.3s ease;
  cursor: pointer; }
  .user-message.selected, .user-message:hover {
    background: #303030; }
  .user-message .user-message-contain {
    position: relative;
    left: 0px;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #424242;
    min-height: 42px; }

.messages-wrap {
  margin-top: 30px; }

.message {
  position: relative;
  left: 0px;
  padding: 10px 10px 10px 0px;
  border: 1px solid #424242;
  border-radius: 5px;
  min-height: 42px;
  margin: 10px;
  width: 60%; }
  .message .message-text {
    margin-top: 4px;
    display: block;
    left: 60px;
    position: relative;
    width: calc( 100% - 60px);
    line-height: 22px;
    font-size: 14px;
    white-space: pre-wrap;
    cursor: default; }
    .message .message-text .url, .message .message-text a, .message .message-text .hashtag {
      text-decoration: none;
      color: #AFAFAF;
      transition: color 0.3s ease;
      cursor: pointer; }
      .message .message-text .url:hover, .message .message-text a:hover, .message .message-text .hashtag:hover {
        color: #eee; }
    .message .message-text .user-mention {
      color: #03A9F4;
      transition: color 0.3s ease;
      cursor: pointer; }
      .message .message-text .user-mention:hover {
        color: #4FC3F7; }
