@import "./mixins.scss";
@import "./colors.scss";

.search-contain {
    color: $white;
}

.search-contain {
    margin-top: 43px;
    height: calc( 100% - 43px );
    overflow-y: scroll;
}

.search-form-contain {
    position: absolute;
    top: 0px;
    left: 0px;
    // width: calc( 100% - 60px );
    width: 100%;
    border-bottom: 1px solid $gray28;
    height: 42px;
}
