@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.search-contain {
  color: #fff; }

.search-contain {
  margin-top: 43px; }

.search-form-contain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #424242;
  height: 42px; }

.input-label {
  position: absolute;
  color: #b1b1b1;
  font-size: 10px;
  text-transform: uppercase;
  padding: 4px 10px;
  top: 0px;
  transform: translate(0px, 0px);
  transition: all 0.3s ease;
  pointer-events: none; }
  .input-label.full {
    font-size: 14px;
    transform: translate(0px, 11px); }

input {
  -moz-appearance: textfield !important;
  display: block;
  border: none;
  height: 42px;
  box-sizing: border-box;
  width: 100%;
  background: none;
  padding-left: 5px;
  color: #fff;
  transition: all 0.3s ease, border 0.3s ease;
  font-size: 1.2rem;
  padding-left: 10px; }
  input:focus {
    background: #424242;
    color: #fff;
    border: none;
    outline-color: transparent;
    outline-style: none; }
  input.error {
    background: #F44336; }
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none !important; }
