@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.search-contain {
  color: #fff; }

.search-contain {
  margin-top: 43px;
  height: calc( 100% - 43px);
  overflow-y: scroll; }

.search-form-contain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #424242;
  height: 42px; }

.search-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  transform: translate(-100%, 0px);
  transition: all,0.3s ease; }
  .search-wrap.visible {
    transform: translate(0%, 0px); }
