@import "./mixins.scss";
@import "./colors.scss";

.search-contain {
    color: $white;
}

.search-contain {
    margin-top: 43px;
}

.search-form-contain {
    position: absolute;
    top: 0px;
    left: 0px;
    // width: calc( 100% - 60px );
    width: 100%;
    border-bottom: 1px solid $gray28;
    height: 42px;
}
.input-label{
    position: absolute;
    color: $darkestwhite;
    font-size: 10px;
    text-transform: uppercase;
    padding: 4px 10px;
    top: 0px;
    transform: translate(0px,0px);
    transition: all 0.3s ease;
    pointer-events: none;
    &.full {
        font-size: 14px;
        transform: translate(0px, 11px);
    }
}
input {
    -moz-appearance: textfield !important;
    display:block;
    border: none;
    // border:$gray28 1px solid;
    // font-family: $font-abel;
    height:42px;
    box-sizing: border-box;
    width:100%;
    // margin:20px 0;
    background:none;
    padding-left: 5px;
    color:$white;
    transition: all 0.3s ease, border 0.3s ease;
    font-size:1.2rem;
    padding-left: 10px;

    &:focus{
        background:$gray28;
        color:$white;
        // border:$gray28 1px solid;
        border: none;
        outline-color: transparent;
        outline-style: none;
    }
    &.error {
        background: $red;
        // border: 1px solid $red;
    }
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
    }
}