@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.twitter-app {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%; }
  .twitter-app ::-webkit-scrollbar {
    width: 10px; }
  .twitter-app ::-webkit-scrollbar:horizontal {
    height: 10px; }
  .twitter-app ::-webkit-scrollbar-track {
    background: #eaeaea;
    border-left: 1px solid #ccc; }
  .twitter-app ::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #ccc; }
  .twitter-app ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px; }
  .twitter-app ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; }
  .twitter-app ::-webkit-scrollbar-corner {
    background: #eaeaea; }
  .twitter-app.inactive {
    display: none; }
  .twitter-app .dataLoader {
    position: absolute;
    top: 40%; }
  .twitter-app .view-header-label {
    text-align: center;
    display: block;
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid #424242;
    color: #fff; }
  .twitter-app .profile-parent-contain {
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0px;
    transform: translate(0%, 0px);
    transition: all,0.3s ease; }
    .twitter-app .profile-parent-contain.inactive {
      transform: translate(100%, 0px); }
  .twitter-app .timeline-contain {
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    transform: translate(0%, 0px);
    transition: all,0.3s ease; }
    .twitter-app .timeline-contain.inactive {
      transform: translate(-100%, 0px); }
  .twitter-app .navigation-buttons {
    height: 30px;
    border-top: #03A9F4 1px solid;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
    .twitter-app .navigation-buttons div {
      float: left;
      width: calc( 100% / 4);
      height: 30px;
      padding: 6px 10px;
      text-align: center;
      background: none;
      transition: background 0.3s ease,color 0.3s ease;
      border-left: #424242 1px solid;
      cursor: pointer; }
