@import "./mixins.scss";
@import "./colors.scss";

html{
    background: $black80;
}

#root {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.header-row {
    text-align: center;
    display: block;
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid #424242;
    color: #fff; 
    font-size: 22px;
    height: 36px;
    line-height: 36px;
}
.compose-tweet {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #aaa;
    transition: color 0.3s ease;
    z-index: 2;
    border-left: 1px solid $gray28;
    &:hover {
        color: $white;
    }
    .fi-pencil {
        width: 100%;
        height: 100%;
        font-size: 32px;
        top: 8px;
        // top: 20px;
        position: relative;
        // height: 20px;
        // padding: 2px;
        font-size: 32px;
        box-sizing: border-box;
    }
}

.nagivation{
    height: calc( 100% - 51px );
    position: absolute;
    left: 0px;
    width: 60px;
    border-right: 1px solid $gray28;
    // top: 51px;
    .navigation-item  {
        width: 60px;
        height: 60px;
        text-align: center;
        color: #aaa;
        transition: color 0.3s ease;

        &.active {
            // background: $gray28;
            color: $white;
        }
    }   
    .icon-contain {
        top: 11px;
        // top: 20px;
        position: relative;
        // height: 20px;
        // padding: 2px;
        font-size: 32px;
        box-sizing: border-box;
    }
}

.app-contain {
    position: relative;
    left: 60px;
    width: calc( 100% - 60px);
    height: 100%;
}

.twitter-app {
    position: absolute;  
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    // position: relative;
    @include webkitScrollbar();
  
    &.inactive {
        display: none;
    }

    .dataLoader {
        position: absolute;
        top: 40%;
    }
    .ui-resizable-se {
        font-size: 0;
        overflow: hidden;
        width: 0;
        height: 0;
        border-bottom: 20px solid $lightBlue;
        border-left: 20px solid transparent;
        transition: border 0.3s ease;
        right: -5px;
        bottom: -5px;
        &:hover, &:active {
            border-bottom: 20px solid $lightBlue300;
        }
    }

    .twitter-login {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        opacity: 0;
        background: $black60;
        pointer-events: none;
        transition: all 0.3s ease;
        @include iconFlexCenter();
        // pointer-events: none;
        z-index: 12;
        -ms-transform:scale(0.5,0.5);
        -webkit-transform:scale(0.5,0.5);
        transform:scale(0.5,0.5);

        &.active {
            opacity: 1;
            -ms-transform:scale(1,1);
            -webkit-transform:scale(1,1);
            transform:scale(1,1);
            // opacity: 0.6;
            // pointer-events:initial;
        }
 
        span {
            font-family:$font-abel-bold;
            color: $white;
            font-size: 24px;
        }
        p {
            margin-top: 5px;
        }

        &.active {
            opacity: 1;
            pointer-events:initial;
        }
        div {
            text-align: center;
        }
        button {
            margin: 20px auto;
        }

        .popupMessage {
            display: block;
            opacity: 1;
            transition: opacity 0.3s ease;
            
            &.hidden {
                opacity: 0;
            }
        }
    }


    .view-header-label {
        text-align: center;
        // width: 100%;
        display: block;
        padding:7px 0 7px 7px;
        border-bottom:1px solid $gray28;
        color: $white;
    }

    .app-views-contain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .app-view {
            display: block;
            height: calc( 100% - 30px );
            left: -100%;
            width: 100%;
            position: absolute;
            transition: left 0.3s ease;
            &.active {
                left: 0;
            }
        }
    }

    .timeline-contain {
        width: 100%;
        height: calc( 100% - 30px );
        color: $white;
    }

    .tweet-contain {
        position: relative;
        background: transparent;
        transition: background 0.3s ease;
        &.borderFix {
            border-bottom: 1px solid $gray28;
            .tweet-body {
                border-bottom: none;
            }
        }
        &.selected,&:hover {
            background: $gray20;

            .tweet-controls {
                pointer-events:initial;
                opacity: 1;
            }
            .status-contain {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .tweet-body {
        position: relative;
        left: 0px;// 60px;
        padding: 10px 10px 10px 0px;
        min-height: 60px;
        // width: 100%;//calc( 100% - 60px );
        border-bottom: 1px solid $gray28;
    }
    .tweet-text {
        margin-top: 10px;
        display: block;
        left: 60px;
        position: relative;
        width: calc( 100% - 60px );
    }
    .user-link,.link {
        color: $lightBlue300;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover{
            color: $lightBlue;
        }
    }
    .hash-link {
        color: $darkerWhite;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: $darkestwhite;
        }   
    }
    .user-avatar {
        position: absolute;
        left: 10px;
        // top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid $black;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .tweet-user {
        height: 16px;
        position: relative;

        span {
            vertical-align: bottom;
            display: inline-block;
            height: 16px;
            left: 60px;
            position: relative;
        }
        svg {
            width: 14px;
            height: 14px;
            display: block;
            position: relative;
        }
        .name {
            padding-right: 3px;
            font-weight: bold;
        }
        .screenName {
            font-size: 14px;
            color: $gray50;
            top: 1px;
            position: relative;
        }  
    }
 
    .status-contain {
        position: absolute;
        right: 50px;
        top: 0px;
        width: 120px;
        text-align: right;
        transition: opacity 0.3s ease;
        div {
            border: transparent;
            background: transparent;
            float: right;
            width: calc( (100% / 2) - 30px );
            text-align: center;
            height: 100%;
            line-height: 30px;
            cursor: pointer;
            position: relative;
            color: #b1b1b1;
            display: none;
            &.active {
                display: block;
            }
        }
        .fi-loop {
            color: $lightGreen;
        }
        .fi-star {
            color: $yellow;
        }
    }
    .tweet-date {
        position: relative;
        float: right;
        right: 5px;
        top: 0px;
        width: 50px;
        text-align: right;
        transition: opacity 0.3s ease;
        font-size: 14px;
        color: $gray50;    
        height: 30px;
        line-height: 30px;        
    }
    .media-contain {
        margin-top: 10px;
        .media-box{
            max-width: 100%;
            max-height: 200px;
            border-radius: 6px;
            overflow: hidden;
            // border: 1px solid $black;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .quoted-tweet {
        width: calc( 100% - 20px ); 
        // margin-right: 10px;
        // margin-top: 10px;
        margin: 20px 10px 0px 10px;
        padding: 10px 10px 10px 0px;
        min-height: 42px;
        border: 1px solid $gray28;
        background: $gray13;
        border-radius: 10px;
        position: relative;
        .name {
            font-size: 14px;
        }
        .quoted-user-avatar {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid $black;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .quoted-tweet-body {
            position: relative;
            left: 50px;
            padding: 10px 0px;
            width: calc( 100% - 60px );
        }
        .media-box {
            max-width: 50%;
            max-height: 100px;            
        }
    }

    .show-retweet {
        position: relative;
        margin-top: 10px;

        span {
            vertical-align: bottom;
            display: inline-block;
            height: 16px;
            font-weight: bold;
            font-size: 14px;
            color: $gray50;
        }
        svg {
            width: 14px;
            height: 14px;
            margin-right: 5px;
            color: $gray50;
        }
    }
    .retweet-user-avatar {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid $black;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
            
        img {
            width: 100%;
            height: 100%;
        }
    }
    .tweet-controls{
        // width: 100%;
        // background: $gray28;
        overflow: hidden;
        // height: 0px;
        transition: opacity 0.3s ease;
        position: absolute;
        top: 0px;
        right: 10px;
        pointer-events:none;
        opacity: 0;
        padding-top: 10px;
        background: transparent;

        button {
            border: transparent;
            background: transparent;
            float: left;
            width: calc( 100% / 4);
            text-align: center;
            height: 100%;
            line-height: 30px;            
            cursor: pointer;
            position: relative;
            color: $darkestwhite;
            transition:color 0.3s ease;

            &:hover,&.active {
                color: $white;
            }
        }
    }

    .profile-contain {
        position: relative;
        height: calc( 100% - 30px );
        width: 100%;        
        display: block;
    }
    .user-banner {
        width: 100%;
        height: 303px;
        top: 0;
        overflow: hidden;
        opacity: 0.8;
        filter: blur(3px);
    }
    .profile-avatar {
        left: calc( 50% - 25px );
        top: 30px;
        width: 50px;
        height: 50px;
        border: 3px solid $white;
        background: $white;
        img {
            border-radius: 4px;  
        }
    }

    .profile-details {
        position: absolute;
        top: 90px;
        width: 100%;
        height: 214px;
        border-bottom: 1px solid $gray28;

        .name,.screenName,.description,.location,.url {
            display: block;
            text-align: center;
            margin: 10px auto;
            width: 80%;
            max-width: 400px;            
        }
        .name {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 2px;
        }
        .screenName {
            margin-top: 2px;
            font-size: 16px;
        }
        .location {
            color: $darkestwhite;
        }
    }

    .stat-contain{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        span {
            width: 50%;
            display: inline-block;
            text-align: center;
        }
    }

    .follow-button {
        position: absolute;
        display: block;
        top: 38px;
        left: 67.5%;
        padding: 6px 12px;
        border: 1px solid $lightBlue300;
        border-radius: 4px;
        background: transparent;
        color: $lightBlue300;
        transition: color 0.3s ease, background 0.3s ease;
        cursor: pointer;

        &:hover,&.inactive {
            color: $white;
            background: $lightBlue300;
        }
    }


    .navigation-buttons {
        height: 30px;
        border-top: $lightBlue 1px solid;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        div{
            float: left;
            width: calc( 100% / 4 );
            height: 30px;
            padding: 6px 10px;
            text-align: center;
            background: none;
            transition: background 0.3s ease,color 0.3s ease;
            border-left: #424242 1px solid;
            cursor: pointer;
        }
    }

    .window-top{
        background: linear-gradient(to right, rgba(3, 169, 244,0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
        transition:background 0.3s ease;
    }
    .window_content {
        overflow: hidden;
    }

    .window_inner{
        .color-border{
            background-color:$lightBlue;
        }
    }
    .frame-button {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-left: 30px solid $lightBlue;
        border-bottom: 30px solid transparent;
        transition: border 0.4s ease;
        position: absolute;
        left: 100%;
        top: 0;
        .button-shape-1 {
            background: $black;
            width: 10px;
            height: 1px;
            top: -4px;
            left: -25px;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .button-shape-2 {
            background: $black;
            width: 10px;
            height: 1px;
            top: 3px;
            left: -25px;
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:hover,
        &:active {
            border-left: 30px solid $lightBlue300;
        }
    }
}


/* --------- MOBILE STYLES --------- */

.mobile{
    .twitter-app {
        .window_content {
            bottom:1px;
            width: 100%;
        }
    }
}
