@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

html {
  background: rgba(0, 0, 0, 0.8); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.HeaderRow {
  text-align: center;
  display: block;
  padding: 7px 0 7px 7px;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-size: 22px;
  height: 36px;
  line-height: 36px; }

.nagivation {
  height: calc( 100% - 51px);
  position: absolute;
  left: 0px;
  width: 60px;
  border-right: 1px solid #424242;
  top: 51px; }
  .nagivation .navigation-item {
    width: 60px;
    height: 60px;
    text-align: center;
    color: #aaa;
    transition: color 0.3s ease; }
    .nagivation .navigation-item.active {
      color: #fff; }
  .nagivation .icon-contain {
    top: 11px;
    position: relative;
    font-size: 32px;
    box-sizing: border-box; }

.twitter-app {
  /* position: absolute; */
  left: 60px;
  /* top: 51px; */
  width: calc( 100% - 60px);
  height: 100%;
  display: block;
  position: relative; }
  .twitter-app ::-webkit-scrollbar {
    width: 10px; }
  .twitter-app ::-webkit-scrollbar:horizontal {
    height: 10px; }
  .twitter-app ::-webkit-scrollbar-track {
    background: #eaeaea;
    border-left: 1px solid #ccc; }
  .twitter-app ::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #ccc; }
  .twitter-app ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px; }
  .twitter-app ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; }
  .twitter-app ::-webkit-scrollbar-corner {
    background: #eaeaea; }
  .twitter-app.small .event-filter {
    display: block;
    width: calc(100% - 20px); }
  .twitter-app.large .event-filter {
    display: block;
    width: calc(100% / 3 - 20px); }
  .twitter-app.window_full .ui-resizable-handle {
    visibility: hidden; }
  .twitter-app.window_full .window_content {
    background: rgba(0, 0, 0, 0.8);
    bottom: 2px;
    width: 100%; }
  .twitter-app.window_full .window-top {
    background: linear-gradient(to right, #03a9f4 0%, rgba(0, 0, 0, 0.6) 100%); }
  .twitter-app .dataLoader {
    position: absolute;
    top: 40%; }
  .twitter-app .ui-resizable-se {
    font-size: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    border-bottom: 20px solid #03A9F4;
    border-left: 20px solid transparent;
    transition: border 0.3s ease;
    right: -5px;
    bottom: -5px; }
    .twitter-app .ui-resizable-se:hover, .twitter-app .ui-resizable-se:active {
      border-bottom: 20px solid #4FC3F7; }
  .twitter-app .twitter-login {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: all 0.3s ease;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    z-index: 12;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
    .twitter-app .twitter-login.active {
      opacity: 1;
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .twitter-app .twitter-login span {
      font-family: abel_probold, arial, sans-serif;
      color: #fff;
      font-size: 24px; }
    .twitter-app .twitter-login p {
      margin-top: 5px; }
    .twitter-app .twitter-login.active {
      opacity: 1;
      pointer-events: initial; }
    .twitter-app .twitter-login div {
      text-align: center; }
    .twitter-app .twitter-login button {
      margin: 20px auto; }
    .twitter-app .twitter-login .popupMessage {
      display: block;
      opacity: 1;
      transition: opacity 0.3s ease; }
      .twitter-app .twitter-login .popupMessage.hidden {
        opacity: 0; }
  .twitter-app .view-header-label {
    text-align: center;
    display: block;
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid #424242;
    color: #fff; }
  .twitter-app .app-views-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .twitter-app .app-views-contain .app-view {
      display: block;
      height: calc( 100% - 30px);
      left: -100%;
      width: 100%;
      position: absolute;
      transition: left 0.3s ease; }
      .twitter-app .app-views-contain .app-view.active {
        left: 0; }
  .twitter-app .timeline-contain {
    width: 100%;
    height: calc( 100% - 30px);
    color: #fff; }
  .twitter-app .tweet-contain {
    position: relative;
    background: transparent;
    transition: background 0.3s ease; }
    .twitter-app .tweet-contain.borderFix {
      border-bottom: 1px solid #424242; }
      .twitter-app .tweet-contain.borderFix .tweet-body {
        border-bottom: none; }
    .twitter-app .tweet-contain.selected, .twitter-app .tweet-contain:hover {
      background: #000; }
      .twitter-app .tweet-contain.selected .tweet-controls, .twitter-app .tweet-contain:hover .tweet-controls {
        pointer-events: initial;
        opacity: 1; }
  .twitter-app .tweet-body {
    position: relative;
    left: 0px;
    padding: 10px 10px 10px 0px;
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid #424242; }
  .twitter-app .tweet-text {
    margin-top: 2px;
    display: block;
    left: 60px;
    position: relative; }
  .twitter-app .user-link, .twitter-app .link {
    color: #4FC3F7;
    cursor: pointer;
    transition: color 0.3s ease; }
    .twitter-app .user-link:hover, .twitter-app .link:hover {
      color: #03A9F4; }
  .twitter-app .hash-link {
    color: #eee;
    cursor: pointer;
    transition: color 0.3s ease; }
    .twitter-app .hash-link:hover {
      color: #b1b1b1; }
  .twitter-app .user-avatar {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #000; }
    .twitter-app .user-avatar img {
      width: 100%;
      height: 100%; }
  .twitter-app .tweet-user {
    height: 16px;
    position: relative; }
    .twitter-app .tweet-user span {
      vertical-align: bottom;
      display: inline-block;
      height: 16px;
      left: 60px;
      position: relative; }
    .twitter-app .tweet-user svg {
      width: 14px;
      height: 14px;
      display: block;
      position: relative; }
    .twitter-app .tweet-user .name {
      padding-right: 3px;
      font-weight: bold; }
    .twitter-app .tweet-user .screenName {
      font-size: 14px;
      color: #AFAFAF;
      top: 1px;
      position: relative; }
    .twitter-app .tweet-user .tweet-date {
      font-size: 14px;
      position: absolute;
      right: 0px;
      color: #AFAFAF; }
    .twitter-app .tweet-user .status-contain {
      position: absolute;
      right: 20px;
      top: 0px; }
      .twitter-app .tweet-user .status-contain .retweeted {
        margin-left: 5px;
        color: #03A9F4; }
        .twitter-app .tweet-user .status-contain .retweeted.hidden {
          margin-left: 0px; }
      .twitter-app .tweet-user .status-contain .favorited {
        color: #03A9F4; }
  .twitter-app .media-contain {
    margin-top: 10px; }
    .twitter-app .media-contain .media-box {
      max-width: 100%;
      max-height: 200px;
      border-radius: 6px;
      overflow: hidden; }
      .twitter-app .media-contain .media-box img {
        width: 100%;
        height: 100%; }
  .twitter-app .quoted-tweet {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #424242;
    background: #212121;
    border-radius: 10px;
    position: relative; }
    .twitter-app .quoted-tweet .name {
      font-size: 14px; }
    .twitter-app .quoted-tweet .quoted-user-avatar {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #000; }
      .twitter-app .quoted-tweet .quoted-user-avatar img {
        width: 100%;
        height: 100%; }
    .twitter-app .quoted-tweet .quoted-tweet-body {
      position: relative;
      left: 50px;
      padding: 10px 0px;
      width: calc( 100% - 60px); }
    .twitter-app .quoted-tweet .media-box {
      max-width: 50%;
      max-height: 100px; }
  .twitter-app .show-retweet {
    position: relative;
    margin-top: 10px; }
    .twitter-app .show-retweet span {
      vertical-align: bottom;
      display: inline-block;
      height: 16px;
      font-weight: bold;
      font-size: 14px;
      color: #AFAFAF; }
    .twitter-app .show-retweet svg {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      color: #AFAFAF; }
  .twitter-app .retweet-user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px; }
    .twitter-app .retweet-user-avatar img {
      width: 100%;
      height: 100%; }
  .twitter-app .tweet-controls {
    background: #424242;
    overflow: hidden;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
    opacity: 0; }
    .twitter-app .tweet-controls span {
      float: left;
      width: calc( 100% / 4);
      text-align: center;
      height: 100%;
      line-height: 30px;
      cursor: pointer;
      position: relative; }
      .twitter-app .tweet-controls span:hover svg, .twitter-app .tweet-controls span.active svg {
        color: #03A9F4; }
      .twitter-app .tweet-controls span svg {
        transition: color 0.3s ease;
        color: #fff;
        height: 14px;
        width: 14px;
        position: absolute;
        left: calc( 50% - 14px);
        top: 8px; }
  .twitter-app .profile-contain {
    position: relative;
    height: calc( 100% - 30px);
    width: 100%;
    display: block; }
  .twitter-app .user-banner {
    width: 100%;
    height: 303px;
    top: 0;
    overflow: hidden;
    opacity: 0.8;
    filter: blur(3px); }
  .twitter-app .profile-avatar {
    left: calc( 50% - 25px);
    top: 30px;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    background: #fff; }
    .twitter-app .profile-avatar img {
      border-radius: 4px; }
  .twitter-app .profile-details {
    position: absolute;
    top: 90px;
    width: 100%;
    height: 214px;
    border-bottom: 1px solid #424242; }
    .twitter-app .profile-details .name, .twitter-app .profile-details .screenName, .twitter-app .profile-details .description, .twitter-app .profile-details .location, .twitter-app .profile-details .url {
      display: block;
      text-align: center;
      margin: 10px auto;
      width: 80%;
      max-width: 400px; }
    .twitter-app .profile-details .name {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 2px; }
    .twitter-app .profile-details .screenName {
      margin-top: 2px;
      font-size: 16px; }
    .twitter-app .profile-details .location {
      color: #b1b1b1; }
  .twitter-app .stat-contain {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
    .twitter-app .stat-contain span {
      width: 50%;
      display: inline-block;
      text-align: center; }
  .twitter-app .follow-button {
    position: absolute;
    display: block;
    top: 38px;
    left: 67.5%;
    padding: 6px 12px;
    border: 1px solid #4FC3F7;
    border-radius: 4px;
    background: transparent;
    color: #4FC3F7;
    transition: color 0.3s ease, background 0.3s ease;
    cursor: pointer; }
    .twitter-app .follow-button:hover, .twitter-app .follow-button.inactive {
      color: #fff;
      background: #4FC3F7; }
  .twitter-app .navigation-buttons {
    height: 30px;
    border-top: #03A9F4 1px solid;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
    .twitter-app .navigation-buttons div {
      float: left;
      width: calc( 100% / 4);
      height: 30px;
      padding: 6px 10px;
      text-align: center;
      background: none;
      transition: background 0.3s ease,color 0.3s ease;
      border-left: #424242 1px solid;
      cursor: pointer; }
  .twitter-app .window-top {
    background: linear-gradient(to right, rgba(3, 169, 244, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    transition: background 0.3s ease; }
  .twitter-app .window_content {
    overflow: hidden; }
  .twitter-app .window_inner .color-border {
    background-color: #03A9F4; }
  .twitter-app .frame-button {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #03A9F4;
    border-bottom: 30px solid transparent;
    transition: border 0.4s ease;
    position: absolute;
    left: 100%;
    top: 0; }
    .twitter-app .frame-button .button-shape-1 {
      background: #000;
      width: 10px;
      height: 1px;
      top: -4px;
      left: -25px;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .twitter-app .frame-button .button-shape-2 {
      background: #000;
      width: 10px;
      height: 1px;
      top: 3px;
      left: -25px;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .twitter-app .frame-button:hover, .twitter-app .frame-button:active {
      border-left: 30px solid #4FC3F7; }

/* --------- MOBILE STYLES --------- */
.mobile .twitter-app .window_content {
  bottom: 1px;
  width: 100%; }
